Project ID: {{projectId}} <br/>
Project Name: {{projectName}} <br/>
Project Description: {{projectDesc}} <br/>
Project End Date: {{endDate}} <br/>
Project Status: {{projectStatus}} <br/>
Project Amount: {{projectAmount}} <br/>
Remaining Amount: {{remainingAmount}} <br/><br/><br/>

<a ng-click="creatorViewProjectCtrl.viewService()"
					class="btn btn-primary">View Services</a>
					
					
<a ng-click="creatorViewProjectCtrl.deleteProject()" id="deleteProject" ng-disabled="creatorViewProjectCtrl.hideDeleteProject()"
					class="btn btn-primary">Delete/Inactive Project</a>
					
				